@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
body {
    margin:0;
    padding: 0;
    text-align: center;
    background-image: url("./img/backgroundGeneralok.jpg");
    background-size: cover;
    background-color: black;
    font-family: 'Oxanium', cursive;
    
  }
  .flex-container{
    display:flex;
    flex-direction:column;

  }
  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    color: white;
    font-weight: 600;
    
  }
  
  /* .logo-img {
    width: 350px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
   */
  
  #start-button{
    font-size: 20px;
    background-color: #870007;
    font-family: 'Oxanium', cursive;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  #reset-button  {
    font-size: 20px;
    background-color: #870007;
    font-family: 'Oxanium', cursive;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    margin-left: 30px;
    border-radius: 5px;
    margin-bottom: 20px;

  }
  
  #game-board {
      float: center;
      padding: 20px 0px;
      /* display:flex;
      flex-direction:row; */
  }
  
  canvas{
    border: 2px solid white;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  

  #buttonMoveLeft{
    /* float: left;
    position:center; */
    justify-content: center;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #870007;
    font-size: 20px;
    font-family: 'Oxanium', cursive;
    color: white;
}

  #buttonMoveRight{
    /* float: left;
    position: absolute; */
    justify-content: center;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left:30px;
    background-color: #870007;
    font-size: 20px;
    font-family: 'Oxanium', cursive;
    color: white;
}

@media screen and (max-width:959px){

    #flex-container{
        width: 100%;
    }
}

@media screen and (max-width:640px){

    #flex-container{
        width: 100%;
    }
}

@media screen and (max-width:568x){

    #flex-container{
        width: 568px;
    }
}