@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
body {
    margin:0;
    padding: 0;
    text-align: center;
    background-image: url("./img/newBackground-general.png");
    background-size: cover;
    background-color: black;
    font-family: 'Oxanium', cursive;
    
  }
  

  #flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 600px;
    width: 800px;
    margin: 8rem auto;
}

  #text{

    float:left;
    margin-left: 250px;
  }
  
  #startBt {
      float: right;
      padding: 20px 0px;
      display:block;
      margin-right: 520px;
      margin-top: 180px;
      
  }
  
#buttonsLR {
   display:flex;
   padding: 20px 0px;
    float:left;
    margin-left: 200px;
}

  canvas{
    display:block;
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
  }



#start-button {
    min-width: 150px;
    min-height: 60px;
    font-family: 'Oxanium', cursive;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #870007;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #870007;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
#start-button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(150px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid  #870007;
    box-shadow: 0 0 60px #870007;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #start-button:hover, .button:focus {
    color: white;
    transform: translateY(-6px);
  }

  #start-button:hover::before, button:focus::before {
    opacity: 1;
  }

  

  /* #reset-button {
    min-width: 150px;
    min-height: 60px;
    font-family: 'Oxanium', cursive;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #870007;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #870007;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
#reset-button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(150px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid  #870007;
    box-shadow: 0 0 60px #870007;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #reset-button:hover, .button:focus {
    color:white;
    transform: translateY(-6px);
  }

  #reset-button:hover::before, button:focus::before {
    opacity: 1;
  } */








#buttonMoveRight {
    min-width: 150px;
    min-height: 60px;
    font-family: 'Oxanium', cursive;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(254, 255, 255) 0%, rgb(213, 250, 246) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #870007;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-left: 20px;
    }
  
    #buttonMoveRight::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(150px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid  #870007;
    box-shadow: 0 0 60px #870007;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #buttonMoveRight:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  #buttonMoveRight:hover::before, button:focus::before {
    opacity: 1;
  }






  #buttonMoveLeft {
    min-width: 150px;
    min-height: 60px;
    font-family: 'Oxanium', cursive;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(254, 255, 255) 0%, rgb(213, 250, 246) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #870007;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
    #buttonMoveLeft::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(150px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid  #870007;
    box-shadow: 0 0 60px #870007;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #buttonMoveLeft:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  #buttonMoveLeft:hover::before, button:focus::before {
    opacity: 1;
  }

  @media screen and (max-width:959px){

    #flex-container{
        width: 100%;
    }
}

@media screen and (max-width:640px){

    #flex-container{
        width: 100%;
    }
}

@media screen and (max-width:568x){

    #flex-container{
        width: 568px;
    }
}